@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4">
    Dashboard
</h1>

<div class="row g-4">

    <div class="col-md-3">

        <div class="card shadow-sm text-center p-4">

            <h5>Total Tickets</h5>

            <h2 id="totalTickets">0</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm text-center p-4">

            <h5>Open</h5>

            <h2 id="openTickets">0</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm text-center p-4">

            <h5>In Progress</h5>

            <h2 id="inProgressTickets">0</h2>

        </div>

    </div>

    <div class="col-md-3">

        <div class="card shadow-sm text-center p-4">

            <h5>Closed</h5>

            <h2 id="closedTickets">0</h2>

        </div>

    </div>

</div>